In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect, types
from sqlalchemy.dialects.postgresql import insert
import os
from pathlib import Path
from dotenv import load_dotenv

base_dir = Path.cwd().parent
env_file = base_dir / '.env'
load_dotenv(env_file)
db_user = os.getenv("DB_USER")
db_pass = os.getenv("DB_PASS")
db_host = "localhost"
db_name = os.getenv("DB_NAME")

DB_CONN_STR = f"postgresql+psycopg2://{db_user}:{db_pass}@{db_host}:5432/{db_name}"

engine = create_engine(DB_CONN_STR)

In [4]:
df_table = pd.read_sql("raw_station_data", engine)
df_table.head()

,timestamp,rain,wsmax,wdmax,ws,wd,stdwd,td,rh,tdmax,tdmin,ws1mm,ws10mm,station_id
0,2019-12-31 22:00:00,0.0,1.4,102.0,0.8,61.0,53.0,9.4,87.0,9.5,9.2,1.1,1.2,16
1,2019-12-31 22:10:00,0.0,1.4,322.0,0.6,313.0,5.6,9.1,89.0,9.2,9.0,1.2,0.7,16
2,2019-12-31 22:20:00,0.0,1.4,322.0,0.7,327.0,4.8,8.9,91.0,9.0,8.9,1.3,0.9,16
3,2019-12-31 22:30:00,0.0,1.0,293.0,0.6,297.0,4.5,8.7,93.0,8.9,8.5,0.9,0.6,16
4,2019-12-31 22:40:00,0.0,1.3,288.0,0.8,285.0,4.5,8.5,94.0,8.5,8.4,1.1,0.8,16

In [7]:
print(df_table.shape)
print(df_table.columns.tolist())

(1379782, 14)
['timestamp', 'rain', 'wsmax', 'wdmax', 'ws', 'wd', 'stdwd', 'td', 'rh', 'tdmax', 'tdmin', 'ws1mm', 'ws10mm', 'station_id']

In [ ]:
df_table.groupby()

In [ ]:
import numpy as np

def get_wind_components(ws, wd):
    """
    Converts Wind Speed (m/s) and Direction (deg) into U and V vectors.
    """
    wd_rad = np.deg2rad(wd)
    u = -ws * np.sin(wd_rad)
    v = -ws * np.cos(wd_rad)
    return u, v